<div style="margin:10 auto;">

	<div ng-show="showButtons" style="margin-left:350px";>
		<div class="btn-group btn-group-lg">
		  <a href="#/cuisines" class="btn btn-info" role="button" ng-click="cntrl.getCuisines()">Cuisines</a>
		  <a href="#/hotspots" class="btn btn-info" role="button" ng-click="cntrl.getHotSpots()">Hot Spots</a>
		  <a href="#/buildings" class="btn btn-info" role="button" ng-click="cntrl.getPlaces()">Public Buildings</a>
		  <a href="#/transport" class="btn btn-info" role="button" ng-click="cntrl.getPitStops()">Public Transport</a>
		</div>
	</div>
	<br><br>
</div>